<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="background-color:rgb(40, 40, 83);">
                <h4 class="card-title" style="color:#fff;"><b>Ajouter une offre :</b></h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Type d'offre" type="text" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Entreprise" type="text" required>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Responsable" type="text" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Sujet" type="text" required>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <form method="post" enctype="multipart/form-data">
                    <div>
                      <label for="cv">Ajouter l'offre</label>
                      <input type="file" id="cv" name="cv">
                    </div>
                   </form>
                   <button mat-raised-button type="submit" class="btn pull-right" style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">Valider</button>
            </div>
        </div>
    </div>
  </div>
  