<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">
                <h3 class="card-title" style="color:#fff;"><b>Créer un compte étudiant</b></h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nom" type="text" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Prénom" type="text" required>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Classe" type="text" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" type="text" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" type="text" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn pull-right" style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">Valider</button>
                </form>
            </div>
        </div>
    </div>
  </div>
  