<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"
                style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">
                <h3 class="card-title" style="color:#fff;"><b>Créer un compte étudiant</b></h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom" type="text" required
                                    [(ngModel)]="etudiant.nomPersonne">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Prénom" type="text" required
                                    [(ngModel)]="etudiant.prenomPersonne">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Date de naissance" type="date" required
                                    [(ngModel)]="etudiant.dateNaissancePersonne">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" type="text" required
                                    [(ngModel)]="etudiant.username">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" type="text" required
                                    [(ngModel)]="etudiant.password">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" type="text" required [(ngModel)]="etudiant.email">
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button type="button" (click)="saveEtudiant()" class="btn pull-right"
                        style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">Valider</button>
                </form>
            </div>
        </div>
        <div class="card">
        <div class="card-header"
            style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">
            <h3 class="card-title" style="color:#fff;"><b>Liste étudiants</b></h3>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="font-size: large; margin:auto">
                                    Nom
                                </td>
                                <td style="font-size: large; margin:auto">Prénom</td>

                                <td style="font-size: large; margin:auto">Date de naissance</td>
                                <td style="font-size: large; margin:auto">Username</td>

                                <td style="font-size: large; margin:auto">Email</td>
                            </tr>
                            <tr *ngFor="let etu of etudiants">
                                <td>
                                    <p>{{etu.idPersonne}}</p>
                                </td>
                                <td>
                                    <p>{{etu.nomPersonne}}</p>
                                </td>
                                <td>
                                    <p>{{etu.prenomPersonne}}</p>
                                </td>
                                <td>
                                    <p>{{etu.dateNaissancePersonne}}</p>
                                </td>
                                <td>
                                    <p>{{etu.username}}</p>
                                </td>
                                <td>
                                    <p>{{etu.email}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>