<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="background-color:rgb(40, 40, 83);">
                <h2 class="card-title" style="color: white; font-weight: bold;">Université de Tourcoing</h2>
                <h3 style="color: white;">Best University In The World !</h3>
                
            </div>
            <div class="card">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary"
                            style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <h3 style="color: #fff;">Faits sur nous</h3>
                                    <h6 style="color: #fff;">Pourquoi on cartonne auprès des djeuns ?</h6>

                                </div>
                            </div>
                        </div>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white">
                          <i class="material-icons" data-notify="icon" style="color: black;">school</i>
                              <span style="font-size: large; font-weight: bold; color: black;">Franck Ribéry a obtenu son agrégation de lettre moderne chez nous</span>
                          </div>
                          <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white">
                            <i class="material-icons" data-notify="icon" style="color: black">science</i>
                              <span style="font-size: large; font-weight: bold; color: black">On transforme l'eau en vin</span>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white">
                          <i class="material-icons" data-notify="icon" style="color: black">sports_bar</i>
                                <span style="font-size: large; font-weight: bold; color: black">Nos étudiants ont une meilleure descente que les belges</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white">
                              <i class="material-icons" data-notify="icon" style="color: black">thermostat</i>
                                <span style="font-size: large; font-weight: bold; color: black">Météo agréable toute l'année</span>
                            </div>
                      </div>
  
              </div>
              <div class="card">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                      <div class="card">
                          <div class="card-header card-header-tabs card-header-primary"
                              style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">
                              <div class="nav-tabs-navigation">
                                  <div class="nav-tabs-wrapper">
                                      <h3 style="color: #fff;">Actualité</h3>
                                      <h6 style="color: #fff;">Téma la réputation de beau gosse</h6>
  
                                  </div>
                              </div>
                          </div>
                  <div class="card-body table-responsive">
                      <h4><a href="https://www.leprogres.fr/ain/2015/08/26/l-adolescent-se-masturbait-a-chaque-passage-du-tracteur">Notre dernier major de promo réalise des exploits</a></h4>
                      <br/>
                      <h4><a href="http://www.lessentiel.lu/fr/news/story/21591841">Notre section littéraire fait parler d'elle</a></h4>
  
              </div>
  
              <div class="card">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                      <div class="card">
                          <div class="card-header card-header-tabs card-header-primary"
                              style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">
                              <div class="nav-tabs-navigation">
                                  <div class="nav-tabs-wrapper">
                                      <h3 style="color: #fff;">Nos cursus</h3>
                                      <h6 style="color: #fff;">Possibilité d'un double cursus</h6>
  
                                  </div>
                              </div>
                          </div>
                
                 
                  <div class="row">
                      <div class="col-md-6">
                        <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white;">
                          <i class="material-icons" data-notify="icon" style="color: black;">engineering</i>
                              <span style="font-size: large; font-weight: bold; color: black;">Mécanique</span>
                          </div>
                          <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white;">
                            <i class="material-icons" data-notify="icon" style="color: black;">science</i>
                              <span style="font-size: large; font-weight: bold; color: black;">Chimie</span>
                          </div>
                          <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white;">
                            <i class="material-icons" data-notify="icon" style="color: black;">school</i>
                                <span style="font-size: large; font-weight: bold; color: black;">Droit</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white;">
                              <i class="material-icons" data-notify="icon" style="color: black;">psychology</i>
                                <span style="font-size: large; font-weight: bold; color: black;">Psychologie</span>
                            </div>
                      </div>
                      <div class="col-md-6">
                        <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white;">
                          <i class="material-icons" data-notify="icon" style="color: black;">sports_bar</i>
                                <span style="font-size: large; font-weight: bold; color: black;">Alcoolisme</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white;">
                              <i class="material-icons" data-notify="icon" style="color: black;">computer</i>
                                <span style="font-size: large; font-weight: bold; color: black;">Informatique</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white;">
                              <i class="material-icons" data-notify="icon" style="color: black;">health_and_safety</i>
                                <span style="font-size: large; font-weight: bold; color: black;">Médecine</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: white;">
                              <i class="material-icons" data-notify="icon" style="color: black;">biotech</i>
                                <span style="font-size: large; font-weight: bold; color: black;">Biologie</span>
                            </div>
                      </div>
  
              </div>
          </div>
      </div>
  </div>
</div>