<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="background-color:rgb(40, 40, 83);">
                <h2 class="card-title" style="color: white; font-weight: bold;">Université de Tourcoing</h2>
                <h3 style="color: white;">Best University In The World !</h3>
                
            </div>
            <div class="card">
                
                  <h3 class="card-title">Faits sur nous</h3>
                  <h6>Pourquoi on cartonne auprès des djeuns ?</h6>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="alert alert-primary alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, midnightblue, rgb(33, 33, 151), #fff);">
                            <i class="material-icons" data-notify="icon">school</i>
                              <span style="font-size: large; font-weight: bold;">Franck Ribéry a obtenu son agrégation de lettre moderne chez nous</span>
                          </div>
                          <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, rgb(33, 33, 151), royalblue, #fff);">
                            <i class="material-icons" data-notify="icon">science</i>
                              <span style="font-size: large; font-weight: bold;">On transforme l'eau en vin</span>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="alert alert-primary alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, midnightblue, rgb(33, 33, 151), #fff);">
                              <i class="material-icons" data-notify="icon">sports_bar</i>
                                <span style="font-size: large; font-weight: bold;">Nos étudiants ont une meilleure descente que les belges</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, rgb(33, 33, 151), royalblue, #fff);">
                              <i class="material-icons" data-notify="icon">thermostat</i>
                                <span style="font-size: large; font-weight: bold;">Météo agréable toute l'année</span>
                            </div>
                      </div>
  
              </div>
              <div class="card">
                      <h3 class="card-title">Actualité</h3>
                     
                  </div>
                  <div class="card-body table-responsive">
                      <h4><a href="https://www.leprogres.fr/ain/2015/08/26/l-adolescent-se-masturbait-a-chaque-passage-du-tracteur">Notre dernier major de promo réalise des exploits</a></h4>
                      <br/>
                      <h4><a href="http://www.lessentiel.lu/fr/news/story/21591841">Notre section littéraire qui fait parler d'elle</a></h4>
  
              </div>
  
              <div class="card">
                
                  <h3 class="card-title">Nos cursus</h3>
                  <h6>Possibilité d'un double cursus</h6>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="alert alert-primary alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, midnightblue, rgb(33, 33, 151), #fff);">
                            <i class="material-icons" data-notify="icon">engineering</i>
                              <span style="font-size: large; font-weight: bold;">Mécanique</span>
                          </div>
                          <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, rgb(33, 33, 151), royalblue, #fff);">
                            <i class="material-icons" data-notify="icon">science</i>
                              <span style="font-size: large; font-weight: bold;">Chimie</span>
                          </div>
                          <div class="alert alert-primary alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, midnightblue, rgb(33, 33, 151), #fff);">
                              <i class="material-icons" data-notify="icon">school</i>
                                <span style="font-size: large; font-weight: bold;">Droit</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, rgb(33, 33, 151), royalblue, #fff);">
                              <i class="material-icons" data-notify="icon">psychology</i>
                                <span style="font-size: large; font-weight: bold;">Psychologie</span>
                            </div>
                      </div>
                      <div class="col-md-6">
                          <div class="alert alert-primary alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, midnightblue, rgb(33, 33, 151), #fff);">
                              <i class="material-icons" data-notify="icon">sports_bar</i>
                                <span style="font-size: large; font-weight: bold;">Alcoolisme</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, rgb(33, 33, 151), royalblue, #fff);">
                              <i class="material-icons" data-notify="icon">computer</i>
                                <span style="font-size: large; font-weight: bold;">Informatique</span>
                            </div>
                            <div class="alert alert-primary alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, midnightblue, rgb(33, 33, 151), #fff);">
                              <i class="material-icons" data-notify="icon">health_and_safety</i>
                                <span style="font-size: large; font-weight: bold;">Médecine</span>
                            </div>
                            <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, rgb(33, 33, 151), royalblue, #fff);">
                              <i class="material-icons" data-notify="icon">biotech</i>
                                <span style="font-size: large; font-weight: bold;">Biologie</span>
                            </div>
                      </div>
  
              </div>
          </div>
      </div>
  </div>
</div>