<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-tabs card-header-primary"
                          style="background: linear-gradient(110deg, midnightblue, royalblue, rgb(128, 165, 235));">
                          <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                  <h3 style="color: #fff;">Relevé de notes</h3>

                              </div>
                          </div>
                      </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Moyenne générale
                                    </th>
                                    <th>
                                        Intitulé
                                    </th>
                                </thead>
                                <tbody>
                                    <tr afficherMoyenne()></tr>
                                    <tr *ngFor="let cours of courss">
                                        <td><p>{{cours.nomMatiere}}</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12" *ngFor="cours of courss">
                <div class="card">
                    <div class="card-header" style="background-color:rgb(40, 40, 83);">
                        <h4 class="card-title mt-0" style="color:#fff">{{cours.nomMatiere}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">  
                            <table class="table">
                                <thead class=" text-primary">
                                    <th style="margin:auto; width:33%">
                                        Type d'évaluation
                                    </th>
                                    <th>
                                        Note
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let type of types">
                                        <td *ngFor="let note of notes"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  